:host{
    --colorFondo: #e4e4e4;
    --colorTitulo: #e6621f;
}
body{
    background-color: var(--colorFondo);
}
* {
    transition-duration: 0.5s;
}

/* ---------------------- NavBar ------------------- */
.contenedor__imagenlogin {
    width: 10rem;
}

.imagen__login {
    height: 20px;
    width: 100px;
    padding-left: 1rem;
}

/* fondo del navbar */
.navbar {
    background-color: #303030 !important;

    box-shadow: 0px 16px 84px -9px rgba(0, 0, 0, 0.91);
    -webkit-box-shadow: 0px 16px 84px -9px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 0px 16px 84px -9px rgba(0, 0, 0, 0.91);

}
/* .container-fluid {
    padding: 0;
  } */


/* ---------------------- Fin NavBar ------------------- */


/* ---------------------- Main ------------------- */
h1{
    color: var(--colorTitulo);
}
.container {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.contenedor__error{
    padding: 50px;
}

img {
    height: 300px; 
    width:auto;
}

.container h1,
.container p {
    text-align: center;
    /* Centrar el texto */
}

.retorno{
    text-decoration: none;
    font-size: 16px;
    color: #303030;
    margin: 0px 30px 0px 10px;
    padding: 15px 10px 10px 10px;
    border-radius: 12px;
   
}
.retorno:hover{
    cursor: pointer;  
    transition-duration: 0.7s;
    font-size: 18px!important;
    background-color:#28282896;
    color: #e4e4e4;
    
   /*  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
i{
    font-size: 24px;
    padding-left: 10px;
}
/* ---------------------- Main ------------------- */


/* ---------------------- Nav menu ------------------- */

.ul__list{
    
    display: flex;
    
    justify-content: space-evenly; 
    align-items: center; 
   
    flex-direction: row; 
    
}

