<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand contenedor__imagenlogin" ><img class="imagen__login"
                        src="../../../../assets/img/RVM-nuevo.png " alt=""></a>
    
                <div class="collapse navbar-collapse justify-content-end navbar__botones " id="navbarNav">
                    <ul class="navbar-nav">
    
    
    
                    </ul>
                </div>
            </div>
        </nav>
    
    </header> <!-- cabecera -->
    
    <main class="main__error">
        <div class="container">
            <h1>Oh! No ha sido posible encontrar esta página.</h1>
            <div class="contenedor__error">
                <img src="../../../assets/img/Error404-sinfondo.png" alt="Error 404">
            </div>
            
            
            <p *ngIf="this.banderaRutas=='Desconectado'"> <a class="retorno" routerLink="/home">Regresar a la Página Principal</a> <i class="bi bi-house"></i> </p>

            <nav *ngIf="this.banderaRutas=='Logueado'" class="nav__menu">
                <ul class="ul__list">
                    <p> <a class="retorno"  (click)="navegacion('dashboard')" > <i class="fs-4 bi-speedometer2"></i> Dashboard</a></p>
                    <p> <a class="retorno" (click)="navegacion('reclamo')" > <i class="bi bi-journal-text"></i> Reclamo</a></p>
                    <p> <a class="retorno" (click)="navegacion('historial')" > <i class="bi bi-calendar3" style="margin-right: 0;"></i> Historial</a></p>
                </ul>
            </nav>
        </div>
       
    </main>
    
</body>
