<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand contenedor__imagenlogin" routerLink="/home"><img class="imagen__login"
              src="../../../../assets/img/RVM-nuevo.png " alt=""></a>
          <button class="navbar-toggler btn-opciones" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0f8ff" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
              </svg></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end navbar__botones " id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link boton__home " routerLink="" aria-current="page" href="#"><i
                    class="bi bi-house boton__home--icono"></i></a>
              </li>
              <li class="nav-item navbar__botones--activo">
                <a class="nav-link" aria-current="page" routerLink="/login">Inicio Sesión</a>
                <!-- [routerLink]="['/','login']" -->
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#registroModal">Registrarme</a>
                <!-- routerLink="/registro" -->
              </li>
  
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
  
      <!-- <div class="container-fluid contenedor">
        <div class="row main-content text-center  ">
          <div class="col-md-4 text-center company__info ">
            <div>
              <img class="imagen__login" id="logo" src="../../../../assets/img/RVM-nuevo.png" alt="logo">
            </div>
  
          </div>
          <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
              <div class="row" style="padding-top: 2%; padding-left: 2%; ">
                <h2>Iniciar Sesión</h2>
              </div>
  
              <div class="row">
  
                <div class="col-12">
                  <input id="usuario" [formControl]="userLogCtrl" type="text" class="form__input" placeholder="E-mail">
                </div>
                <div class="col-12">
                  <input id="password" [formControl]="pasworLogCtrl" type="password" class="form__input "
                    placeholder="Contraseña">  
                </div>
              </div>
              <div class="row">
                <div class="col col-12">
                  <button type="button" class="btn boton" (click)="validarUsuario()">Iniciar Sesión</button>
                </div>
              </div>
              <div class="row">
                <p>¿No tenés una cuenta? <a class="registro" data-bs-toggle="modal"
                    data-bs-target="#registroModal">Registrate ahora!</a></p>
  
              </div>
  
            </div>
          </div>
        </div>
  
      </div> -->



      <div class="container contenedor">
        <div class="row">
            
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="img__login text-center" >
                      <img  id="logo" src="../../../../assets/img/rmv-black.png" style="width: 190px;" alt="logo">
                    </div>
                    <div class="panel-body p-3">
                        <form action="login_script.php" method="POST">
                            <div class="form-group py-2">
                                <div class="input-field"> <span class="far fa-user p-2"></span> <input class="input__usuario" type="email" [formControl]="userLogCtrl" placeholder="Correo" required> </div>
                            </div>
                            <div class="form-group py-1 pb-2">
                                <div class="input-field"> <span class="fas fa-lock px-2"></span> <input class="input__contrasenia" [formControl]="pasworLogCtrl" type="password" placeholder="Contraseña" required> <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button> </div>
                            </div>
                            <!-- <div class="form-inline"> <input type="checkbox" name="remember" id="remember"> <label for="remember" class="text-muted">Remember me</label> <a href="#" id="forgot" class="font-weight-bold">Forgot password?</a> </div> -->
                            <div class="text-center mt-4" >
                              <button class="btn btn-primary" (click)="validarUsuario()">Iniciar Sesión</button>
                            </div>
                            
                            <div class="text-center pt-4 text-muted">¿No tenés una cuenta? <a class="registro" data-bs-toggle="modal"
                              data-bs-target="#registroModal">Registrate ahora!</a> </div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3"> <a href="https://wwww.facebook.com" target="_blank" class="px-2"> <img class="img__redes" src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a> <a class="img__redes" href="https://www.google.com" target="_blank" class="px-2"> <img class="img__redes" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a> <a href="https://www.github.com" target="_blank" class="px-2"> <img class="img__redes" src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a> </div>
                    </div>
                </div>
            
        </div>
    </div>
  
    </main>
  
    <!-- Modal registro usaurio -->
    <div class="modal fade" id="registroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registrate Ahora</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
  
  
            <div class="container">
  
              <div class="row">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  
                  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                  </symbol>
  
                  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </symbol>
                </svg>
  
                <form class="formulario">
                  <!-- Nombre -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                      [formControl]="nombreCtrl">
  
  
                  </div>
  
                  <!-- Apellido -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-plus"></i></span>
                    <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido"
                      [formControl]="apellidoCtrl">
  
                  </div>
                  <!-- Celular -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i
                        class="fa-solid fa-mobile-screen-button"></i></span>
                    <input type="number" class="form-control" placeholder="Teléfono" aria-label="Celular"
                      [formControl]="telefonoCtrl">
  
                  </div>
                  <!-- DNI -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-address-card"></i></span>
                    <input type="number" class="form-control" placeholder="DNI" aria-label="Dni" [formControl]="dniCtrl">
  
                  </div>
                  <!-- Usuario -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-circle-user"></i></span>
                    <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario"
                      [formControl]="usuarioCtrl">
  
                  </div>
                  <!-- Correo -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-at"></i></span>
                    <input type="text" class="form-control" placeholder="Correo" aria-label="Correo"
                      [formControl]="correoCtrl">
  
                  </div>
                  <!-- Contraseña -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-unlock"></i></span>
                    <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña"
                      [formControl]="contraseniaCtrl">
  
                  </div>
                  <!-- Confirmar Contraseña -->
                  <div class="input-group flex-nowrap inputModal">
  
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Confirmación" aria-label="Confirmación"
                      (keyup)="validarContrasenia()" [formControl]="confirmacionCtrl">
  
                  </div>
                </form> <!-- fin del formulario -->
  
                <!--  <div class="alert alert-success d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                  </svg>
                  <small>
                    An example success alert with an icon
                  </small>
                </div> -->
  
              </div> <!-- row -->
  
            </div><!-- container -->
  
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
  
            <button type="submit" class="btn btn-primary" (click)="registrarUsuario()">Registrarme</button>
  
          </div> <!-- modal footer -->
  
  
  
  
        </div>
      </div>
  
    </div> <!-- modal -->
  </body>