
<!-- <Div class="contenedorReporte zoom">
  <iframe  src="https://app.powerbi.com/reportEmbed?reportId=8cf37a37-a3b3-4bb8-9c04-801a07cbd95f&autoAuth=true&ctid=9c230c21-e33c-4189-8f00-98e6c371204e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWJyYXppbC1zb3V0aC1iLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</Div> -->


<div class="container-fluid">

    <div class="row">
      <div class="col-12 dashboard__tarjetas">
      
       <!--  <div class="row borde ">
          <div class="col-12 Centrado ">   
            <h5>Cantidad de Reclamos</h5>
          </div>
        </div> -->
  
        <div class="row">
  
          <div class="col-12  rounded rounded-4 contenedor__estilo " >   
            <ngx-charts-number-card class="shadow-lg rounded rounded-4 " [scheme]="colorScheme" [results]="recuentoTarjeta" [cardColor]="cardColor"
             [animations]="animationTarjeta" [animationTarjeta]="fitContainerBarra" 
            (select)="onSelect($event)">
          </ngx-charts-number-card>
          </div>
        </div>
  
       
      </div>
  
    </div> <!-- row 1 -->

    
      
        <div class="row  rounded rounded-4 row_2" >
          
          <div class="col-12  col-lg-3  dashboard__tiposReclamos " >
            
            <ngx-charts-bar-vertical class=" "
              [fitContainerBarra]="fitContainerBarra"
              [colorSchemeBarra]="colorSchemeBarra"
              [results]="arregloTipoReclamos"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegendBarra"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              
            
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
          <div class="col-12  col-lg-9  dashboard__tiposReclamos " >
            
            <ngx-charts-bar-vertical class=""
              [fitContainerBarra]="fitContainerBarra"
              scheme="flame"
              [results]="arregloReclamosAmbientales"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegendBarra"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelAmbiental"
              [yAxisLabel]="yAxisLabelAmbiental"
              [rotateXAxisTicks]="rotateXAxisTicks"
              
            
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>

        </div> <!-- row 2 -->


        <div class="row rounded rounded-4 shadow-lg " >
          <!-- <div class="col-12 col-sm-12 col-md-5 col-lg-3  dashboard__tiposReclamos " >
          </div> -->
          <div class="col-12 dashboard__tablaAnio  rounded border border-3">
     
            <div class="row">
              <div class="col-12 Centrado contenedor__tablaAnio">
                <ngx-charts-bar-vertical
                  scheme='night'
                  [animations]="animacionBarras"
                  [results]="arregloReclamosDeMesesyAnio"
                  [gradient]="gradient5"
                  [xAxis]="showXAxis5"
                  [yAxis]="showYAxis5"
                  [legend]="showLegend5"
                  [legendTitle]="tituloLeyenda"
                  [showXAxisLabel]="showXAxisLabel5"
                  [showYAxisLabel]="showYAxisLabel5"
                  [xAxisLabel]="xAxisLabel5"
                  [yAxisLabel]="yAxisLabel5"
                  (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
              </div>
            </div>
      
            <div class="row input_busquedaAnio ">
              <div class="col-4  p-3 ">
      
                <form class=" row g-3 needs-validation" novalidate>

                  <div class="col-12 ">
                    <div class="input-group flex-nowrap">

                      <span class="input-group-text" id="addon-wrapping"><i class="fas fa-calendar-minus"></i></span>
                      <input type="number" class="form-control" aria-describedby="inputGroupPrepend" required 
                        [formControl]="txtAnio" placeholder="Busque sus reclamos por año">

                    </div>

                  </div>
          
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit" (click)="btnBuscarReclamosAnio()"><i class="fas fa-search"></i>   Buscar </button>
                  </div>
                </form>
          
              </div>
              
            </div>
      
            
          </div>
          

        </div> <!-- row 2 -->

        

      
     
    

      

   
  <!-- 
    <div class="row">
  
      <div class="col-12 col-sm-12 col-md-12 col-lg-5  cajaSecundaria  shadow-lg p-3 mb-5 rounded border border-3 ">
  
        <div class="row borde">
          <div class="col-12  Centrado ">   
            <h5>Cantidad General de Categorías</h5>
          </div>
        </div>
  
        <div class="row">
          <div class="col-12 Centrado SegundaFila">
            <ngx-charts-pie-chart [scheme]="colorSchemeTorta" [results]="arregloTipoReclamos" [gradient]="gradientTorta"
            [legend]="showLegend" [animations2]="animations2" [legendTitle]="legendtitleTorta" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
            (select)="onSelect($event)">
          </ngx-charts-pie-chart>
          </div>
        </div>
      
      </div>
  
      <div class="col-1 ">
  
      </div>
  
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 cajaTercera shadow-lg p-3 mb-5 rounded border border-3 ">
        <div class="row borde">
          <div class="col-12  Centrado ">   
            <h5>Causas Generales</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12  Centrado SegundaFilaTorta2">
            <ngx-charts-pie-chart 
             
              scheme='flame' 
              [results]="arregloReclamosAmbientales" 
              [gradient]="gradient3"
              [legend]="showLegend3"
              [animations]="animations3"
              [legendTitle]="legendtitle" 
              [legendPosition]="legendPosicion3" 
              [labels]="showLabels3" 
              (select)="onSelect($event)">
            </ngx-charts-pie-chart>
          </div>
      
        </div>
  
      
      
      </div>
    </div>
  </div>
  
  
  
  <div class="container-fluid ">
  
    <div class="row">
      <div class="col-12 cajaCuarta  shadow-lg p-3 mb-5 rounded border border-3">
     
        <div class="row  borde">
          <div class="col-12 Centrado  ">   
            <h5>Reclamos Realizados en el Año</h5>
          </div>
        </div>
  
        <div class="row">
          <div class="col-12 Centrado SegundaFilaTabla">
            <ngx-charts-bar-vertical
              scheme='night'
              [animations]="animacionBarras"
              [results]="arregloReclamosDeMesesyAnio"
              [gradient]="gradient5"
              [xAxis]="showXAxis5"
              [yAxis]="showYAxis5"
              [legend]="showLegend5"
              [legendTitle]="tituloLeyenda"
              [showXAxisLabel]="showXAxisLabel5"
              [showYAxisLabel]="showYAxisLabel5"
              [xAxisLabel]="xAxisLabel5"
              [yAxisLabel]="yAxisLabel5"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </div>
  
        <div class="row ">
          <div class="col-1">
  
          </div>
          <div class="col-10 shadow-lg p-3 mb-5 rounded border border-3 ">
  
            <form class=" row g-3 needs-validation" novalidate>
      
              <div class="col-md-12">
                <label for="validationCustomUsername" class="form-label">Año de tus reclamos</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-calendar-minus"></i></span>
                  <input type="number" class="form-control" aria-describedby="inputGroupPrepend" required 
                  [formControl]="txtAnio">
                  <div class="invalid-feedback">
                    Ingrese un año valido.
                  </div>
                </div>
              </div>
      
              <div class="col-12">
                <button class="btn btn-primary" type="submit" (click)="btnBuscarReclamosAnio()"><i class="fas fa-search"></i>   Buscar </button>
              </div>
            </form>
      
          </div>
          <div class="col-1">
  
          </div>
        </div>
  
        
      </div>
    </div>
     -->
  
  </div>