/* .example-card {
    max-height: 50%;
  } */

  :host{
    --colorAzulMarino: #163543;
  }

 

  /* .contenedorReporte {
    margin: 2%;
  } */
  
  /* iframe{
    width:100%;
     height:600px;
   } */
  
  /* .bloquePrimario {
  } */

  /* .tarjeta__dashboard:hover{
    background-color:#193d4e ;
  } */
  /* .Centrado {
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  } */

  .contenedor__estilo{
    background-color: var(--colorAzulMarino);
  }
  .dashboard__tarjetas {
    
    margin: 0.7rem 0 1rem 0;
  }
  .boxShadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .row_2{
    margin-bottom: 1rem;
    background-color: #f8f8f8da;
  }
  
  .dashboard__tiposReclamos  {
   height: 300px;
    /* background-color: rgb(224, 224, 224); */
  }

  
  
  
/*   .cajaTercera {
    height: 430px; 
    background-color: rgb(224, 224, 224);
  } */
  
/*   .dashboard__tablaAnio {
    height: 100%; 
    background-color: #f8f8f8da;
  } */

/*   .input_busquedaAnio{
    display: flex;
    justify-content: left;
    align-items:center;
  } */
  
  
  .opciones{
    border-style: solid;
    border-width: medium;
    border-color: rgb(70, 70, 70);
  }
  
  
  
  /* Sacar las flechas del input tipo number */
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

/*   .borde{
    
    border-bottom: 2px solid rgba(35, 35, 35, 0.311);
  }

  .SegundaFilaTorta2{
    height: 400px;
  }

  .SegundaFila{
    height: 430px;
  } */
  

  .dashboard__tablaAnio {
    padding: 20px;
}



.input-group-text {
    background-color: #f0f0f0;
    border: 1px solid #ced4da;
    border-right: 0;
}

.form-control {
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.Centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__tablaAnio {
    padding: 20px;
    height: 300px;
}

.tipoReclamo{
  height: 300px!important;
}
