/* .example-card {
    max-height: 50%;
  } */

  :host{
    --colorAzulMarino: #163543;
  }

 

  /* .contenedorReporte {
    margin: 2%;
  } */
  
  /* iframe{
    width:100%;
     height:600px;
   } */
  
  /* .bloquePrimario {
  } */

  /* .tarjeta__dashboard:hover{
    background-color:#193d4e ;
  } */
  /* .Centrado {
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  } */

  .contenedor__estilo{
    background-color: var(--colorAzulMarino);
  }
  .dashboard__tarjetas {
    
    margin: 0.7rem 0 1rem 0;
  }

  .row_2{
    margin-bottom: 1rem;
    background-color: #e4e4e4;
  }
  
  .dashboard__tiposReclamos  {
   height: 300px;
    /* background-color: rgb(224, 224, 224); */
  }

  
  
  
/*   .cajaTercera {
    height: 430px; 
    background-color: rgb(224, 224, 224);
  } */
  
  .dashboard__tablaAnio {
    height: 100%; /* Alto */
    background-color: rgb(224, 224, 224);
  }

  .input_busquedaAnio{
    display: flex;
    justify-content: left;
    align-items:center;
  }
  
  .contenedor__tablaAnio{
    height: 300px;
  }
  .opciones{
    border-style: solid;
    border-width: medium;
    border-color: rgb(70, 70, 70);
  }
  
  
  
  /* Sacar las flechas del input tipo number */
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

/*   .borde{
    
    border-bottom: 2px solid rgba(35, 35, 35, 0.311);
  }

  .SegundaFilaTorta2{
    height: 400px;
  }

  .SegundaFila{
    height: 430px;
  } */
  