/* span,i,a{
    color: white!important;
} */

/* #0d6efd */

/* span:hover,
i:hover
a:hover{
    color: #0d6efd!important;
    transition: all 0.2s ease;
} */

:host{
    --colorTexto: #535353;
    --colorTitulos: #e6621f;
}

/* -------- Menu Angular Material ------ */
.mat-sidenav-contenedor{
    background-color: #ffffff;
}
.mat-nav-list {
    padding-top: 0 !important;
}

.button-menu {
    width: 90%;
    /* ancho del menu de botones */
}

.sidenav-container {
    height: 100%;
}


/* .mat-drawer{
    background-color: #1f1f1f;
} */

.nav__menu--color {
    background-color: #1f1f1f;
}

.menu__ancho {
    width: 12rem !important;
}

@media (max-width: 570px) {
    .menu__ancho {
        /* width: 9rem !important; */
        overflow-x: hidden;
        overflow-y: hidden;
    }

}

/* --------  Fin Menu Angular Material ------  */

/* --------  Botones menu ------ */
.boton__nav {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.3rem 0 0.3rem 0;
    border-bottom: #838587 01px solid;
}

.active{
    background-color: #333333;
    transition: all 0.5s ease;
}

.boton__nav--info {
    margin-left: 10px;
    color: rgb(207, 207, 207) !important;
}

.boton__nav--span {
    padding-left: 5px;
}

.boton__nav:hover {
    background-color: #333333;
    transition: all 0.5s ease;
}

.boton__nav--info:hover {
    color: #f1f1f1 !important;
}

@media (max-width: 573px) {

    /* cuando la pantalla tiene un tamaño de 0 px y 573px */
    .boton__nav {
        width: 4rem;
        border-radius: 10px;
        text-align: center;
    }

    .boton__nav--info {
        margin-left: 0;
        color: rgb(207, 207, 207) !important;
    }

    .boton__nav:hover {
        background-color: #333333;
        transition: all 0.5s ease;
    }

    .boton__nav--info:hover {
        color: #f1f1f1 !important;
    }
}
.icono__menuPerfil{
   
    font-size: 24px;
}

/* @media screen and (max-width: 573px){
    .icono__menuPerfil{
        margin-left: 30px!important;
        font-size: 20px;
    }
} */



.contenedor__botonPerfil{
    width: 100%;
    
}
.contenedor__botonPerfil a span{
    
    color: #a2a2a2!important;
}
.contenedor__botonPerfil a span:Hover{
    
    color: white!important;
    transition: all 0,5s ease;
}

.boton_user--informacion:hover{
    cursor: pointer;
    background-color: #333333;
    border-radius: 5px;
    transition: all 1s ease; 
}

.menu__usuario {
    border-radius: 10px;

}

.dropdown-item {
    border-radius: 5px;
}

.dropdown-item:hover {

    transition: all 1s ease;


}

/* Iconos perfil */
.icono__config,
.icono__perfil {
    padding-right: 5px;
}

/* Iconos menu */
.bi-journal-text,
.bi-geo-alt {
    font-size: calc(1.275rem + .3vw) !important;
}

.bi-calendar3,
.bi-journal-arrow-up {
    font-size: calc(1.1rem + .3vw) !important;
    margin-right: 10px;

}

.menu__perfil{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}



/* Botones secundarios del menu o sub menu */

.boton__subMenu {
    color: rgb(207, 207, 207) !important;
}

.boton__subMenu:hover {
    color: #f1f1f1 !important;
}
.a_perfil,
.a_configuracion,
.a_cerrrarSesion{
    font-size: 14px;
    cursor: pointer;
}
.a_cerrrarSesion{
    font-weight: 700;
    color:rgb(230, 8, 8);
    
}
/* ------ Modal Perfil ------ */

.imagen--perfil {
    border-radius: 1rem;
}


.titulo__perfil{
    font-size: 18px;
    margin: 0;
}
.info__perfil{
    color: var(--colorTexto);
    font-size: 14px;
    padding-bottom: 10px;
}
.inputModal {
    margin: 0rem 0 0.5rem 0;
}

.contenedor__inputPerfil{
    padding: 0rem 0rem 0rem 0rem;
}

.flex__informacion{
    display: flex;
    
    justify-content: flex-start; 
    align-items: center; 
    
    flex-direction: row;  
    margin-bottom: 10px;
  }
  .info__perfil{
    padding: 0;
    margin-left: 10px;
  }
  .contenedor__infoUsuario{
    margin-top: 10px;
    display: flex;
      
      justify-content: space-evenly; 
      align-items: center; 
     
      flex-direction: row; 
  }
  .fila__opcionesUsuario{
    padding: 10px 0px 0px 0px;
  }
  @media screen and (max-width: 992px) {
  
    .fila__opcionesUsuario{
      padding: 0px;
    }
    .datosUsuario{
      width: 100%;
      margin-top: 20px;
    }
  
    .contenedor__infoUsuario{
      display: flex;
      
      justify-content: center; 
      align-items: center; 
     
      flex-direction: column; 
    }
    .fila__opcionesUsuario{
      
      display: flex;
      
      justify-content: center;  
      
      /* flex-flow: column-reverse; */ 
      flex-direction: column-reverse;  
    }
    .div__selectEstado{
      padding: 10px 0px;
    }
    
  
  }

/* ------------------------ Modal Perfil ------------------------ */




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
/* .map-container {
    height: 25vh;
    right: 0px;
    top: 0px;
    width:auto;
    
    
} */
.contenedor__Mapa{
    width: 90%!important;
}
.mapa-container {
    height:25vh;
    width: auto; 
}

.titulo__modal{
    position: relative;
}
.titulo__direccion{
    
    display: flex;
    
    align-items: center;
    
}
.titulo__direccion h5{
    margin-right: 1rem;
}
 
/*  ----------------------- Eliminar Cuenta -----------------------  */

.eliminar_Cuenta{
 font-size: 14px;
 color: #1e1e1e;
 transition-duration: 0.5s;
}

.eliminar_Cuenta:hover{
    cursor: pointer;
    color: rgb(164, 0, 0);
}