<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-nav-list class="menu__ancho"><!-- button-menu -->
            <div class="container">
                <div class="row flex-nowrap nav__menu--color ">
                    <div class=" d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <!-- d-flex -->
                        <a routerLink="menu"
                            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">Menú</span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto col-12 align-items-center align-items-sm-start"
                            id="menu">
                          <!--   <li class="nav-item boton__nav">

                                <a class="nav-link align-middle px-0 boton__nav--info">
                                    <i class="fs-4 bi-house"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Home</span>
                                </a>
                            </li> -->
                            <li class="boton__nav" routerLink="dashboard" routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info">
                                    <!-- data-bs-toggle="collapse" -->
                                    <i class="fs-4 bi-speedometer2"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Dashboard</span>
                                </a>

                                <!--  <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="#" class="nav-link px-0" routerLink="./dashboard">
                                            <span class="d-none d-sm-inline">Estadistica</span> 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2
                                        </a>
                                    </li>
                                </ul> -->
                            </li>

                            <li class="boton__nav" routerLink="reclamo" routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info ">
                                    <i class="bi bi-journal-text"></i><span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Reclamo</span>
                                </a>

                            </li>
                            <li class="boton__nav" routerLink="historial" routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info ">
                                    <i class="bi bi-calendar3" style="margin-right: 0;"></i><span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Historial</span>
                                </a>
                            </li>

                            <li class="boton__nav" routerLink="mapa" routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info">
                                    <i class="bi bi-geo-alt"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Mapas</span></a>
                            </li>
                            <li class="boton__nav">
                                <!-- <a href="#submenu3" data-bs-toggle="collapse"
                                    class="nav-link px-0 align-middle boton__nav--info">
                                    <i class="fs-4 bi-grid"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Products</span> </a> -->
                                <!--  <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                            1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                            2</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                            3</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                            4</a>
                                    </li>
                                </ul> -->
                            </li>
                            <!--  <li class="boton__nav">
                                <a href="#" class="nav-link px-0 align-middle boton__nav--info">
                                    <i class="fs-4 bi-people"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Customers</span>
                                </a>
                            </li> -->
                        </ul>

                        <div class="contenedor__botonPerfil">

                            <div class="dropdown pb-4 boton_user ">
                                <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle boton_user--informacion p-2"
                                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../../../../assets/img/usuario-Omar.jpg" alt="hugenerd" width="30"
                                        height="30" class="rounded-circle">
                                    <span class="d-none d-sm-inline mx-4">{{usuario.nick}}</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow menu__usuario"
                                    aria-labelledby="dropdownUser1">

                                    <li *ngIf="this.usuario.idRol!=3"><a class="dropdown-item" routerLink="./configuracion"><i
                                                class="bi bi-gear-fill icono__config"></i>Configuración</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registroModal"
                                            (click)="getDatosPerfil()"><i
                                                class="bi bi-person icono__perfil"></i>Perfil</a>
                                    </li>
                                    <!-- routerLink="./perfil" routerLinkActive="active" -->
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" style="color:rgb(215, 15, 15)" routerLink="">Cerrar
                                            Sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>




        </mat-nav-list>
    </mat-sidenav>
    <!-- boton desplieque menu -->
    <mat-sidenav-content>
        <button class="btn btn-outline-dark" style="margin: 0.5rem 0 0 0.5rem;" type="button" mat-icon-button
            (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <i class="bi bi-list"></i>
        </button>

        <!-- Add Content Here -->

        <div class="container-fluid">
            <!-- p-4 - antes tenia ese formato pero se modifico para que el historila tome todo el ancho del contenedor  -->
            <!-- En las demas pantallas no hay modificaciones pero en la que se nota para mejor es en el historial -->
            <!-- Se puede modificar -->
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modal registro usaurio -->
<div class="modal fade" id="registroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mí Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid shadow p-2 rounded ">
                    <div class="row">

                        <div class=" col-12 text-center">
                            <img class="imagen--perfil" height="150" width="120"
                                src='../../../../assets/img/usuario-Omar.jpg' alt="">
                        </div>

                    </div>

                    <div class="">
                        <button type="button" class="btn boton__editarPerfil" (click)="formularioPerfil()"><i
                                class="fa-regular fa-pen-to-square fa-sm ico__editarPerfil "></i></button>
                    </div>


                    <div *ngFor="let item of datosPerfil " class="container-fluid text-center">
                        <div class="row informacion__perfil">
                            <div class="col-12 col-sm-6"> <!-- shadow rounded border border-1 -->
                                <h5>Nombre</h5>
                                <label for="">{{item.nombrePersona}}</label>

                            </div>
                            <div class="col-12 col-sm-6 ">
                                <h5>Apellido</h5>
                                <label for="">{{item.apellidoPersona}}</label>
                            </div>
                        </div>
                        <div class="row informacion__perfil">
                            <div class="col-12 col-sm-6 ">
                                <h5>Celular</h5>
                                <label for="">{{item.telefonoUsuario}}</label>

                            </div>
                            <div class="col-12 col-sm-6 ">
                                <h5>DNI</h5>
                                <label for="">{{item.dniUsuario}}</label>
                            </div>
                        </div>
                        <div class="row informacion__perfil">
                            <div class="col-12 col-sm-6 ">
                                <h5>Correo</h5>
                                <label for="">{{item.correoUsuario}}</label>

                            </div>
                            <div class="col-12 col-sm-6 ">
                                <h5>Usuario</h5>
                                <label for="">{{item.nombreUsuario}}</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="this.banderaActualizarPerfil==true;
                " class="container-fluid contenedor__inputPerfil ">

                    <form *ngFor="let item of datosPerfil">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <!-- Nombre -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-person"></i></span>
                                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                                        value="" [formControl]="nombrePersonaCtrl">

                                </div>

                            </div>

                            <div class="col-12  col-sm-6 ">
                                <!-- Apellido -->
                                <div class="input-group flex-nowrap inputModal">


                                    <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido"
                                        value="{{item.apellidoPersona}}" [formControl]="apellidoPersonaCtrl">
                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-people"></i></span>

                                </div>

                            </div>


                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <!-- Celular -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-phone"></i></span>
                                    <input type="number" class="form-control" placeholder="Celular" aria-label="Celular"
                                        value="{{item.telefonoUsuario}}" [formControl]="celularCtrl">

                                </div>

                            </div>

                            <div class="col-12  col-sm-6 ">
                                <!-- Dni -->
                                <div class="input-group flex-nowrap inputModal">


                                    <input type="number" class="form-control" placeholder="DNI" aria-label="DNI"
                                        value="{{item.dniUsuario}}" [formControl]="dniCtrl"><span
                                        class="input-group-text" id="addon-wrapping"><i class="bi bi-123"></i> </span>

                                </div>

                            </div>


                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <!-- Correo -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-envelope-at"></i></span>
                                    <input type="email" class="form-control" placeholder="Correo" aria-label="Correo"
                                        value="{{item.correoUsuario}}" [formControl]="correoCtrl">

                                </div>

                            </div>

                            <div class="col-12  col-sm-6 ">
                                <!-- Constraseña -->
                                <div class="input-group flex-nowrap inputModal">


                                    <input type="password" class="form-control" placeholder="Contraseña"
                                        aria-label="Contraseña" value="{{item.contrasenia}}"
                                        [formControl]="contraseniaCtrl"><span class="input-group-text"
                                        id="addon-wrapping"><i class="bi bi-key"></i></span>

                                </div>

                            </div>


                        </div>

                        <div class="row">
                            <div class="col-12">
                                <!-- Nick -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-person-square"></i></span>
                                    <input type="text" class="form-control" placeholder="Nick" aria-label="Nick"
                                        value="{{item.nombreUsuario}}" [formControl]="nombreUsuarioCtrl">

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <!-- Foto Perfil -->
                                <div class="input-group flex-nowrap inputModal">

                                    <input type="file" class="form-control" placeholder="Foto Perfil"
                                        aria-label="Foto Perfil"><span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-image"></i></span>

                                </div>

                            </div>
                        </div>
                        <small class="text-center" style="color: rgb(131, 131, 131);">
                            <p>* Rellene los campos que desea modificar *</p>
                        </small>

                    </form>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                <button type="submit" class="btn btn-primary" (click)="actualizarPerfil()">Actualizar</button>

            </div> <!-- modal footer -->




        </div>
    </div>

</div> <!-- modal -->

<!-- <div class="container-fluid">
    <div class="row flex-nowrap">
      

        <div style="width: 83%;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->