<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-nav-list class="menu__ancho"><!-- button-menu -->
            <div class="container">
                <div class="row flex-nowrap nav__menu--color ">
                    <div class=" d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <!-- d-flex -->
                        <a class=" d-flex justify-content-center align-items-center pb-3 w-100">
                            <img src="../../../../assets/img/icono-rvm-32x32.png" alt="LogoRVM">
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto col-12 align-items-center align-items-sm-start"
                            id="menu">

                            <li class="boton__nav animate__animated animate__fadeInLeft" routerLink="dashboard"
                                routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info">
                                    <!-- data-bs-toggle="collapse" -->
                                    <i class="fs-4 bi-speedometer2 ico__Dashboard"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Dashboard</span>
                                </a>

                            </li>

                            <li class="boton__nav animate__animated animate__fadeInLeft" routerLink="reclamo"
                                routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info ">
                                    <i class="bi bi-journal-text ico__Reclamo"></i><span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Reclamo</span>
                                </a>

                            </li>
                            <li class="boton__nav animate__animated animate__fadeInLeft" routerLink="historial"
                                routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info ">
                                    <i class="bi bi-calendar3 ico__Historial" style="margin-right: 0;"></i><span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Historial</span>
                                </a>
                            </li>

                            <li class="boton__nav animate__animated animate__fadeInLeft" routerLink="mapa"
                                routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info">
                                    <i class="bi bi-geo-alt ico__Mapa"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Mapas</span></a>
                            </li>   
                            <li class="boton__nav animate__animated animate__fadeInLeft" routerLink="estadisticas"
                                routerLinkActive="active">
                                <a class="nav-link px-0 align-middle boton__nav--info">
                                    <i class="bi bi-pie-chart-fill ico__Estadistica"></i> <span
                                        class="ms-1 d-none d-sm-inline boton__nav--span">Estadísticas</span></a>
                            </li>                          
                        </ul>                      
                        <div class="contenedor__botonPerfil animate__animated animate__fadeInLeft">

                            <hr />                          	                       
                            <div class="dropdown pb-4 ">
                                <a class="d-flex align-items-center text-white text-decoration-none boton_user--informacion  p-2"
                                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img *ngIf="usuario.foto!=null" src={{usuario.foto}} alt="hugenerd" 
                                         class="menu__perfil">
                                        <img *ngIf="usuario.foto==null"  src='../../../../assets/img/img_usuario.png' alt="hugenerd" 
                                         class="menu__perfil">
                                    <span class=" d-sm-inline mx-3">{{usuario.nick}}</span>
                                    <i class="bi bi-list icono__menuPerfil"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow menu__usuario animate__animated animate__fadeIn"
                                    aria-labelledby="dropdownUser1">

                                    <li *ngIf="this.usuario.idRol!=3"><a class="dropdown-item a_configuracion"
                                            routerLink="./configuracion"><i
                                                class="bi bi-gear-fill icono__config"></i>Configuración</a></li>
                                    <li><a class="dropdown-item a_perfil" data-bs-toggle="modal" data-bs-target="#registroModal"
                                            (click)="getDatosPerfil()"><i
                                                class="bi bi-person icono__perfil"></i>Perfil</a>
                                    </li>
                                    <!-- routerLink="./perfil" routerLinkActive="active" -->
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item a_cerrrarSesion"  (click)="cerrarSesion()">Cerrar
                                            Sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </mat-nav-list>

        <!-- Button trigger modal -->



    </mat-sidenav>
    <!-- boton desplieque menu -->
    <mat-sidenav-content class="mat-sidenav-contenedor">
        <button class="btn btn-outline-dark" style="margin: 0.5rem 0 0 0.5rem;" type="button" mat-icon-button
            (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <i class="bi bi-list"></i>
        </button>

        <!-- Add Content Here -->
        <div class="container-fluid">
            <!-- se visualiza los componentes hijos -->
            <router-outlet></router-outlet>

        </div>


    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modal utilizado para visualizar la ubicacion de donde se hizo el reclamo -->
<div class="modal fade " id="mapaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="mapaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content contenedor__Mapa">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="mapaModalLabel">{{direccion}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div #mapaDiv class="mapa-container rounded">

                </div>

            </div>

        </div>
    </div>
</div>





<!-- Modal registro usaurio -->
<div class="modal fade modal-lg" id="registroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mis Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-bottom: 0;">

                <div class="container-fluid  ">
                    <div class="row contenedor__infoUsuario">

                        <div *ngIf="usuario.foto!=null"  class=" col-2 p-0 "> 
                            <img *ngFor="let item of datosPerfil " class="imagen--perfil" height="150" width="auto"
                                src={{item.foto}} alt="">
                                
                        </div>
                        <div *ngIf="usuario.foto==null"  class=" col-2 p-0 "> 
                            <img  class="imagen--perfil" height="150" width="auto"
                            src='../../../../assets/img/img_usuario.png' alt="">
                                
                        </div>
                        <div *ngFor="let item of datosPerfil " class=" col-9 text-center datosUsuario ">
                            <div class="row ">
                                <div class="col-12 col-sm-7 flex__informacion"> <!-- shadow rounded border border-1 -->

                                    <h5 class="titulo__perfil"><i class="bi bi-person"></i> Nombre</h5>
                                    
                                    <small for="" class="info__perfil">{{item.nombrePersona}}</small>

                                </div>
                                <div class="col-12 col-sm-5 flex__informacion ">
                                    <h5 class="titulo__perfil"><i class="bi bi-person"></i> Apellido</h5>
                                    <small class="info__perfil" for="">{{item.apellidoPersona}}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-7 flex__informacion">
                                    
                                    <h5 class="titulo__perfil"><i class="bi bi-phone"></i> Celular</h5>
                                    <small class="info__perfil" for="">{{item.telefonoUsuario}}</small>

                                </div>
                                <div class="col-12 col-sm-5 flex__informacion ">
                                    
                                    <h5 class="titulo__perfil"><i class="bi bi-123"></i> DNI</h5>
                                    <small class="info__perfil" for="">{{item.dniUsuario}}</small>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-7  flex__informacion ">
                                    
                                    <h5 class="titulo__perfil"><i class="bi bi-envelope-at"></i> Correo</h5>
                                    <small class="info__perfil" for="">{{item.correoUsuario}}</small>

                                </div>
                                <div class="col-12 col-sm-5 flex__informacion">
                                                               
                                    <h5 class="titulo__perfil"><i class="bi bi-person-square"></i> Usuario</h5>
                                    <small class="info__perfil" for="">{{item.nombreUsuario}}</small>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div>
                    </div>
                    <div class=" mt-2 mb-2 ">
                        <small  class="eliminar_Cuenta" data-bs-target="#modal2" data-bs-toggle="modal">Eliminar Cuenta</small>                      
                    </div>
                    <div class=" mt-2 mb-2">
                        <button type="button" class="btn btn-light w-100" (click)="formularioPerfil()"><i class="bi bi-pen-fill"></i>  Editar</button>
                    </div>

                </div>
                <div *ngIf="this.banderaActualizarPerfil==true;
                " class="container-fluid contenedor__inputPerfil animate__animated animate__fadeIn">
                <small class="text-center" style="color: rgb(131, 131, 131);">
                    <p class="m-0">* Rellene los campos que desea modificar *</p>
                </small>
                    <form *ngFor="let item of datosPerfil">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <!-- Nombre -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-person"></i></span>
                                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                                        value="" [formControl]="nombrePersonaCtrl">

                                </div>

                            </div>

                            <div class="col-12  col-sm-6 ">
                                <!-- Apellido -->
                                <div class="input-group flex-nowrap inputModal">


                                    <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido"
                                        value="{{item.apellidoPersona}}" [formControl]="apellidoPersonaCtrl">
                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-people"></i></span>

                                </div>

                            </div>


                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <!-- Celular -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-phone"></i></span>
                                    <input type="number" class="form-control" placeholder="Celular" aria-label="Celular"
                                        value="{{item.telefonoUsuario}}" [formControl]="celularCtrl">

                                </div>

                            </div>

                            <div class="col-12  col-sm-6 ">
                                <!-- Dni -->
                                <div class="input-group flex-nowrap inputModal">


                                    <input type="number" class="form-control" placeholder="DNI" aria-label="DNI"
                                        value="{{item.dniUsuario}}" [formControl]="dniCtrl"><span
                                        class="input-group-text" id="addon-wrapping"><i class="bi bi-123"></i> </span>

                                </div>

                            </div>


                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <!-- Correo -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-envelope-at"></i></span>
                                    <input type="email" class="form-control" placeholder="Correo" aria-label="Correo"
                                        value="{{item.correoUsuario}}" [formControl]="correoCtrl">

                                </div>

                            </div>

                            <div class="col-12  col-sm-6 ">
                                <!-- Constraseña -->
                                <div class="input-group flex-nowrap inputModal">


                                    <input type="password" class="form-control" placeholder="Contraseña"
                                        aria-label="Contraseña" value="{{item.contrasenia}}"
                                        [formControl]="contraseniaCtrl"><span class="input-group-text"
                                        id="addon-wrapping"><i class="bi bi-key"></i></span>

                                </div>

                            </div>


                        </div>

                        <div class="row">
                            <div class="col-12">
                                <!-- Nick -->
                                <div class="input-group flex-nowrap inputModal">

                                    <span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-person-square"></i></span>
                                    <input type="text" class="form-control" placeholder="Nick" aria-label="Nick"
                                        value="{{item.nombreUsuario}}" [formControl]="nombreUsuarioCtrl">

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <!-- Foto Perfil -->
                                <div class="input-group flex-nowrap inputModal">

                                    <input type="file" class="form-control" placeholder="Foto Perfil"
                                        (change)="onFileSelected($event)" accept="image/*"
                                        aria-label="Foto Perfil"><span class="input-group-text" id="addon-wrapping"><i
                                            class="bi bi-image"></i></span>

                                </div>

                            </div>
                        </div>
                        

                    </form>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                <button type="submit" class="btn btn-primary" (click)="actualizarPerfil()">Actualizar</button>

            </div> <!-- modal footer -->




        </div>
    </div>

</div> <!-- modal -->
<div class="modal fade" id="modal2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Eliminar Cuenta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Está seguro que desea eliminar su cuenta de RVM?
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-target="#registroModal" data-bs-toggle="modal">Cancelar</button>
          <button class="btn btn-warning" data-bs-toggle="modal" (click)="eliminarCuenta()" >Eliminar</button> <!-- elimina el usuario y lo redirige a la pagina HOME -->
        </div>     
    </div>
</div>