.pointer{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.437)!important;
}
h6{
    font-weight: 700;
    color: rgb(22, 22, 22);
}

p{  
    font-size: 12px;
   
    color: rgb(22, 22, 22);
}
.active{
    background-color: rgba(219, 219, 219, 0.609)!important;
}

.listaResultado{
    height: 400px;
    overflow-y: scroll;
    
    
}


::-webkit-scrollbar {display: none;}