.map-container {
    height: 50vh;
    right: 0px;
    top: 0px;
    width:auto;
    
}
/* .miUbicacion{
    position: absolute;
    top: 200px;
    z-index: 999;
} */





/* lista */
#coordenadas {     
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #7d1e1e;
}