
    <div class="container-fluid  border contenedor_tarjetas p-1 rounded-3 d-flex ">

      <div class="card m-1 cardNuevaTarjeta" style="width: 10rem;">
        <img src="" class="card-img-top" alt="">
          <div class="card-body text-center ">
            <small class="card-text" ><i class="bi bi-plus-circle-dotted  icono "></i></small>
          </div>
      </div>
        <div  *ngFor="let item of tarjetasLocalidades;" class="m-1 pointer">
        
             <div class="card" style="width: 10rem; height: 5rem;" (click)="verEstadistica(usuario.idUsuario,item.idLocalidad)">
                <img src="" class="card-img-top" alt="">

                  <div class="card-body text-center mt-2 " >
                    <small class="card-text">{{item.localidad}}</small>
                    <p class="card-text">{{item.cantidad}}</p>
                  </div>
              </div> 

              
        </div>
    </div>

<!--     <ngx-charts-bar-horizontal-2d
  
  [scheme]="colorScheme"
  [schemeType]="schemeType"
  [results]="localidadXcalle"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"

  >
</ngx-charts-bar-horizontal-2d> -->