.contenedor_tarjetas {
    margin: 0.7rem 0 1rem 0;
    background-color: rgb(22, 53, 67);
}
.active{
    background-color: rgb(42, 99, 125);
}
.card{
    background-color: rgb(188, 188, 188);
    color: rgb(85, 85, 85);
}

/* .cardNuevaTarjeta:not(:hover) {
    transition: background-color 0.8s ease;
    background-color: rgb(25, 62, 80);
    color: rgba(248, 248, 248, 0.856);
    border-style: dashed !important;
    border: 2px solid rgba(248, 248, 248, 0.856);
    transition: 0.5s ease;
} */

.card:hover {
    transition:0.8s ease;
    /* Ajusta la duración y la función de temporización según tus preferencias */
    background-color: rgb(242, 242, 242);
    /* Cambia esto al color deseado */
    color: black;
    border-style: dashed !important;
    border: 2px solid rgba(248, 248, 248, 0.856);
    cursor: pointer !important;


}


.colorFondo{
    background-color: rgba(248, 248, 248, 0.856);
}
.height_row{
    height: 230px;
    
}


.icono {
    font-size: calc(1.275rem + .3vw) !important;
}


.pointer {
    cursor: pointer!important;
}

.row_height{
    height: 250px;
}
.row_heightHora{
    height: 250px;
}

.advanced-pie-chart {
    font-size: 36px !important;
    position: left !important;
}


.seleccionFiltros {
    font-size: 14px;
    
  }


  .general {
    padding: 20px;
  }

 
  
 
  
  

  /* mas de 766px */
  /* ajusta el conenedor de los dos primeros graficos */
  @media (min-width: 766px) {
    .torta {
       
        transition:0.8s ease;
        width: 100%;
        height: 300px!important; /* Ajusta este valor según necesites */
      }

      
  }

  /* mas de 900px */
   /* ajusta el conenedor de los dos primeros graficos */
  @media (min-width: 900px) {
    .torta {
       
        transition:0.8s ease;
        width: 100%;
        height: 250px!important; /* Ajusta este valor según necesites */
      }

      
  }

  /* Cuando es menor o igual a 766px */
  @media (max-width: 766px) {
    .torta {
        transition:0.8s ease;
        width: 100%;
        height: 500px!important; /* Ajusta este valor según necesites */
      }
    .flexx {
        flex: 1;
      }
    .flexx-colum {
        display: flex;
        flex-direction: column;
      }
    .espacioEntreGraficos {
      margin-bottom: 20px; /* Espacio entre los gráficos en pantallas pequeñas */
    }


    .barras{
        padding-right: 0px!important;
        width: 100%;
        height: 900px!important; /* Ajusta este valor según necesites */
      }
     
    
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .contenedorHora{
        padding-top: 30px;
    }
    .graficobarra{
        height: 300px!important;
     
    }
    .row_height{
        height: 500px!important;
    }
    .row_heightHora {
      height: 500px;
      
    }
  }
  