.contenedor_tarjetas {
    margin: 0.7rem 0 1rem 0;
    background-color: rgb(22, 53, 67);
}


.cardNuevaTarjeta:hover {
    transition: background-color 0.8s ease;
    /* Ajusta la duración y la función de temporización según tus preferencias */
    background-color: rgb(231, 229, 229);
    /* Cambia esto al color deseado */
    color: black;
    border-style: dashed !important;
    border: 2px solid rgba(248, 248, 248, 0.856);
    cursor: pointer !important;


}

.cardNuevaTarjeta:not(:hover) {
    transition: background-color 0.8s ease;
    background-color: rgb(25, 62, 80);
    color: rgba(248, 248, 248, 0.856);
    border-style: dashed !important;
    border: 2px solid rgba(248, 248, 248, 0.856);


}
.colorFondo{
    background-color: rgb(227, 227, 227);
}
.height_row{
    height: 230px;
    
}


.icono {
    font-size: calc(1.275rem + .3vw) !important;
}


.pointer {
    cursor: pointer!important;
}

.row_height{
    height: 250px;
}

#pie-chart-parent { display: grid; }