

<div class="container-table100  animate__animated animate__fadeIn">
    <div class="wrap-table100">
        <div class="table100">
            
                
            <table >
                <thead>
                    <tr class="table100-head">
                        <!-- <th class="column1">Altura</th> -->
                        <th class="colVehicular1">Descripción</th>
                        <!-- ngIf="item.dominio !== '-' && item.nombreMarca !== ' ' && item.nombreModelo !== ' '" -->
                        <th class="colVehicular2">Dirección</th>
                        <th class="colVehicular3" >Dominio</th>
                        <th class="colVehicular4">Fecha</th>
                        <th class="colVehicular5">Foto</th>
                        <th class="colVehicular6">Hora</th>
<!--                                 <th class="colVehicular7">Motivo</th> -->
                         <th class="colVehicular7">Marca</th>
                        <th class="colVehicular8" >Modelo</th>
                        <th class="colVehicular9">Tipo Reclamo </th>
                        <th class="colVehicular10">Estado </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arregloDetalleReclamo">
                        <!-- <td class="column1">{{item.altura}} </td> -->
                        <td class="colVehicular1">{{item.descripcion}}</td>
                        <td class="colVehicular2">{{item.direccion}}</td>
                        <td class="colVehicular3">{{item.dominio}}</td>
                        <td class="colVehicular4">{{item.fecha | date:'dd-MM-yyyy'}}</td>
                        <td class="colVehicular5"><img class="rounded-3" src="{{item.foto}}" alt="Foto"
                                style="width: 150px; height: 100px;"></td>
                        <td class="colVehicular6">{{item.hora}}</td>
<!--                                 <td class="colVehicular7">{{item.nombreRecAmbiental}}</td> -->
                        <td class="colVehicular7" >{{item.nombreMarca}}</td>
                        <td class="colVehicular8">{{item.nombreModelo}}</td>
                        <td class="colVehicular9">{{item.nombreTRec}}</td>
                        <td class="colVehicular10">{{item.estadoR}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--.container-table100 -->
