
@font-face {
    font-family: OpenSans-Regular;
    src: url(./assets/fonts/OpenSans-Regular.ttf)
  }

  /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
  /* font-family: 'Open Sans', sans-serif; */

html,
body {
    height: 100%;
    font-family: OpenSans-Regular;
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

html,
body {
    height: 100%;
}
