:host {
  --colorPrincipal: #e6621f;
}

*{
  transition-duration: 0.5s;
}

.titulo_config{
  color: var(--colorPrincipal);
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  font-size: 30px;
  
  margin: 20px 30px 10px 30px;
}

.divPrimario {
  margin-top: 20px;
  padding: 0px 1rem 1rem 1rem;
  background-color: rgb(228, 228, 228);
}

.Centrado {
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__botones{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
@media screen and (max-width: 985px) {
  
  .padding_Vechiculos{ 
    padding: 5px 10px;
  }
}

@media screen and (max-width: 767px) {
  .btn__padding{
    padding: 5px 10px;
  }

}




.Bordes {
  border-bottom: 2px solid rgba(35, 35, 35, 0.311);
}


.divTabla {
  margin-top: 20px;
}

small {
  color: rgba(123, 123, 123, 0.771);
  text-align: justify;
}



.margen {
  margin-top: 20px;
}



#botonNuevoEstado {
  margin-top: 45px;
}

#botonNuevoVehiculo {
  margin-top: 35px;
}

/* edicion del controlador tipo numerico, para que no aprezan
  letras, solamente numeros */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
    -moz-appearance: textfield;
  } */

 .dropdown-menu i{
  font-style: normal!important;
 }

 .config__estilo{
  background-color: white;
  border-radius: 10px;
 }

 /* Tabla usuarios */

 
.img__usuario {
  height: 50px;
  width: 50px;

}

th{
  width: 10%;
}
