:host {
  --colorPrincipal: #e6621f;
}

*{
  transition-duration: 0.5s;
}

.titulo_config{
  color: var(--colorPrincipal);
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  font-size: 30px;
  
  margin: 20px 30px 10px 30px;
}

.divPrimario {
  margin-top: 20px;
  padding: 0px 1rem 1rem 1rem;
  background-color: rgb(228, 228, 228);
}

.Centrado {
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__botones{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
@media screen and (max-width: 985px) {
  
  .padding_Vechiculos{ 
    padding: 5px 10px;
  }
}

@media screen and (max-width: 767px) {
  .btn__padding{
    padding: 5px 10px;
  }

}




.Bordes {
  border-bottom: 2px solid rgba(35, 35, 35, 0.311);
}


.divTabla {
  margin-top: 20px;
}

small {
  color: rgba(123, 123, 123, 0.771);
  text-align: justify;
}



.margen {
  margin-top: 20px;
}



#botonNuevoEstado {
  margin-top: 45px;
}

#botonNuevoVehiculo {
  margin-top: 35px;
}

/* edicion del controlador tipo numerico, para que no aprezan
  letras, solamente numeros */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
    -moz-appearance: textfield;
  } */

 .dropdown-menu i{
  font-style: normal!important;
 }

 .config__estilo{
  background-color: white;
  border-radius: 10px;
 }

 /* Tabla usuarios */

 
.img__usuario {
  height: 50px;
  width: 50px;

}

/* th{
  width: 10%;
} */
.contenedor_botonesOpciones{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.columna1,
.columna2,
.columna3,
.columna4,
.columna5{
  width: 180px;
}
@media screen and (max-width: 942px) {
 .btn__opciones{
   
   font-size: 10px;
   transition-duration: 0.5s;
 }

}


.btn__opciones {

    margin: 0px 10px 0px 10px;
   
  
  
}

/* ------ Modal Usuario ------ */

.text-Activo{
  color: rgb(4, 155, 12);
}
.text-Inactivo{
  color: rgb(255, 0, 0);
}

.imagen--perfil {
  border-radius: 1rem;
}


.titulo__perfil{
  font-size: 18px;
  margin: 0;
}
.info__perfil{
  color: var(--colorTexto);
  font-size: 14px;
  /* padding-bottom: 10px; */
}
.inputModal {
  margin: 0rem 0 0.5rem 0;
}

.contenedor__inputPerfil{
  padding: 0rem 0rem 0rem 0rem;
}
/* .contenedor_btnEditar{
  width: 30px;
} */
.flex__informacion{
  display: flex;
  
  justify-content: flex-start; 
  align-items: center; 
  
  flex-direction: row;  
  margin-bottom: 10px;
}
.info__perfil{
  padding: 0;
  margin-left: 10px;
}
.contenedor__infoUsuario{
  margin-top: 10px;
  display: flex;
    
    justify-content: space-evenly; 
    align-items: center; 
   
    flex-direction: row; 
}
.fila__opcionesUsuario{
  padding: 10px 0px 0px 0px;
}

@media screen and (max-width: 992px) {
  
  .fila__opcionesUsuario{
    padding: 0px;
  }
  .datosUsuario{
    width: 100%;
    margin-top: 20px;
  }

  .contenedor__infoUsuario{
    display: flex;
    
    justify-content: center; 
    align-items: center; 
   
    flex-direction: column; 
  }
  .fila__opcionesUsuario{
    
    display: flex;
    
    justify-content: center;  
    
    /* flex-flow: column-reverse; */ 
    flex-direction: column-reverse;  
  }
  .div__selectEstado{
    padding: 10px 0px;
  }
  

}
