<body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand contenedor__imagenlogin" routerLink="/home"><img class="imagen__login"
              src="../../../../assets/img/RVM-nuevo.png " alt=""></a>
  
          <div class="collapse navbar-collapse justify-content-end navbar__botones " id="navbarNav">
            <ul class="navbar-nav">
  
  
  
            </ul>
          </div>
        </div>
      </nav>
  
    </header> <!-- cabecera -->
  
    <main>
  
      <div class="container contenedor__titulo">
  
        <h1 class="titulo__nosotros">
          ¿Quiénes Somos?
        </h1>
  
        <div>
          <p class="nosotros__informacion">
            Somos un conjunto de amigos que nos encontramos en la etapa final de nuestros estudios en la carrera de Analistas de Sistemas de Computación. Con el entusiasmo y el compromiso que caracteriza a nuestro grupo, nos enfrentamos al emocionante desafío de llevar a cabo nuestro proyecto de tesis. Unidos por nuestra pasión por la tecnología y el deseo de aplicar nuestros conocimientos en un proyecto concreto, nos esforzamos por demostrar nuestra capacidad para desarrollar soluciones innovadoras.
          </p>
          <br>
          <h2>Objetivo</h2>
          <p class="nosotros__informacion">
            El objetivo principal de nuestra aplicación web es mejorar el control vial de nuestra ciudad, proporcionando a los ciudadanos y autoridades una herramienta eficiente y accesible para monitorear el tráfico, gestionar eventos viales y promover una circulación más fluida y segura en nuestras calles.
          
          </p>
  
        </div>
  
  
      </div>

      
  
  
  
  
  
      <div class="container container__tarjeta">
        <div class="row">
          <div class="col-auto col-sm-4">
  
          </div>
          <div class="col-auto col-sm-4 tarjeta">
            <div class="card shadow-lg p-3 mb-5 border border-2 ">
              <img src="../../../assets/img/dev_omar_comprimido.jpeg" class="card-img-top img-fluid rounded img_foto " alt="...">
              <div class="card-body">
                <div class="tarjeta__informacion">
                  <p class="informacion__nombre">D'Andrea Omar</p>
                  <p class="informacion__rol">Desarrollador <br> Backend - Frontend </p>
  
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-auto col-sm-4">
  
          </div>
  
  
        </div>
  
      </div>
  
  
  
  
      <div class="container integrantes">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
  
          </div>
  
          <!--         <div class="col">
            <div class="card shadow-lg p-3 mb-5 rounded border border-3">
              <img src="../../../../assets/img/nico.jpg" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <div class="tarjeta__informacion">
                  <p class="informacion__nombre">Cervera Nicolas</p>
                  <p class="informacion__rol">Software Dev</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-lg p-3 mb-5 rounded border border-3">
              <img src="../../../../assets/img/javi.jpg" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <div class="tarjeta__informacion">
                  <p class="informacion__nombre">Ferri Javier</p>
                  <p class="informacion__rol">Software Dev</p>
  
                </div>
              </div>
            </div>
          </div> -->
  
        </div>
      </div>
  
  
  
  
  
  
  
  
      <div class="container-fluid tecnologias shadow-lg p-3 mb-5 rounded border border-3 ">
  
        <div class="container-fluid tecnologias__informacion borde">
          <h2>Tecnologías</h2>
          <div class="tecnologias__subtitulos">
            <p>Tecnologias utilizadas para el desarrollo de la aplicación</p>
          </div>
  
  
        </div>
  
        <div class="row">
  
          <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
            <img class="img-fluid" src="../../../../assets/img/Tecnologias/html.png" alt="">
          </div>
          <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
            <img class="img-fluid" src="../../../../assets/img/Tecnologias/css.png" alt="">
          </div>
          <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
            <img class="img-fluid" src="../../../../assets/img/Tecnologias/bootstrap.png" alt="">
          </div>
          <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
            <img class="img-fluid" src="../../../../assets/img/Tecnologias/angular.png" alt="">
          </div>
          <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2  ">
            <img class="img-fluid" src="../../../../assets/img/Tecnologias/git.png" alt="">
          </div>
          <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
            <img class="img-fluid" src="../../../../assets/img/Tecnologias/sql.png" alt="">
          </div>
  
  
        </div>
  
      </div>
  
    </main>
  
  
  
  
  
  
  
  
  
  </body>