<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand contenedor__imagenlogin" routerLink="/home"><img class="imagen__login"
            src="../../../../assets/img/RVM-nuevo.png " alt=""></a>

        <div class="collapse navbar-collapse justify-content-end navbar__botones " id="navbarNav">
          <ul class="navbar-nav">



          </ul>
        </div>
      </div>
    </nav>

  </header> <!-- cabecera -->

  <main>

    <div class="container contenedor__titulo">

      <h1 class="titulo__nosotros">
        ¿Quiénes Somos?
      </h1>

      <div>
        <p class="nosotros__informacion">
          Somos un conjunto de amigos que nos encontramos en la etapa final de nuestros estudios en la carrera de
          Analistas de Sistemas de Computación. Con el entusiasmo y el compromiso que caracteriza a nuestro grupo, nos
          enfrentamos al emocionante desafío de llevar a cabo nuestro proyecto de tesis. Unidos por nuestra pasión por
          la tecnología y el deseo de aplicar nuestros conocimientos en un proyecto concreto, nos esforzamos por
          demostrar nuestra capacidad para desarrollar soluciones innovadoras.
        </p>

        <h2>Objetivo</h2>
        <p class="nosotros__informacion">
          El objetivo principal de nuestra aplicación web es mejorar el control vial de nuestra ciudad, proporcionando a
          los ciudadanos y autoridades una herramienta eficiente y accesible para monitorear el tráfico, gestionar
          eventos viales y promover una circulación más fluida y segura en nuestras calles.

        </p>

      </div>


    </div>








    <div class="container container__tarjeta">
      <div class="">

        <div class="titulo__integrante">
          <h2 class="">Integrante/s</h2>
        </div>

        <div class="card shadow-lg p-3 mb-5 border border-2 tarjeta__integrante">

          <img src="../../../assets/img/dev_omar_comprimido.jpeg"
            class="card-img-top img-fluid rounded img_foto ajustar-imagen" alt="...">
          <div class="card-body cuerpo__tarjeta">
            <div class="tarjeta__informacion">
              <h3 class="informacion__nombre">D'Andrea Omar</h3>
              <p class="informacion__rol">Desarrollador<br>Backend - Frontend</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="container container__tecnologia">
      <div class="titulo__tecnologia">
        <h2>Tecnologías</h2>

        <p class="informacion__tecnologia">Estamos utilizando una combinación de tecnologías líderes para dar vida a nuestro proyecto.</p>
      </div>

      <div class="flex_derecha">
        <img class="img-fluid" height="150" width="150" src="../../../assets/img/Tecnologias/html.png" alt="HTML">
        <p class="informacion__tecnologia">
          Empezando con HTML, construimos la estructura fundamental de nuestras páginas web, permitiéndonos organizar y
          presentar información de manera efectiva.
        </p>
      </div>

      <div class="flex_izquierda">

        <p class="informacion__tecnologia">
          Con CSS, damos vida a esas páginas al diseñar estilos atractivos y coherentes, mejorando la experiencia visual
          de los usuarios.
        </p>
        <img class="img-fluid" height="150" width="150" src="../../../assets/img/Tecnologias/css.png" alt="CSS">
      </div>



      <div class="flex_derecha ">

        <img class="img-fluid" height="150" width="150" src="../../../assets/img/Tecnologias/bootstrap.png"
          alt="Bootstrap">
        <p class="informacion__tecnologia">
          Para agilizar nuestro diseño y mantener la consistencia, estamos aprovechando Bootstrap, una biblioteca de
          diseño receptivo que nos ayuda a crear interfaces modernas y adaptables en diferentes dispositivos.
        </p>

      </div>
      <div class="flex_izquierda">
        <p class="informacion__tecnologia">
          Angular es una pieza clave en nuestro conjunto de herramientas, ya que nos permite construir una aplicación web dinámica y de una sola página. Con su capacidad para manejar interacciones en tiempo real y su estructura modular, estamos creando una experiencia interactiva fluida para nuestros usuarios.
        </p>
        <img class="img-fluid" height="120" width="120" src="../../../assets/img/Tecnologias/angular.png" alt="Angular">

      </div>
      <div class="flex_derecha">
        
        <img class="img-fluid"  height="150" width="150" src="../../../assets/img/Tecnologias/c sharp.png" alt="C#">
        <p class="informacion__tecnologia">
          Nuestra API desarrollada en C# es la columna vertebral de la aplicación, permitiendo la comunicación fluida entre el frontend y el backend. Esto garantiza un manejo eficiente de los datos y una interacción dinámica.
        </p>
      </div>
      <div class="flex_izquierda img__tecnologia">
        <p class="informacion__tecnologia">
          En lo que respecta al control de versiones y la colaboración, estamos utilizando Git. Esta tecnología nos permite trabajar en equipo, reduciendo los riesgos de pérdida de código, proporcionando un historial completo de todas las iteraciones, rastreando los cambios realizados y permitiéndonos revertirlos si es necesario, así como implementar mejoras en el proyecto.
        </p>
        <img class="img-fluid " height="150" width="150" src="../../../assets/img/Tecnologias/git.png" alt="Git">
      </div>


      <div class="flex_derecha">

        <img class="img-fluid " height="200" width="200" src="../../../assets/img/Tecnologias/sql.png" alt="">
        <p class="informacion__tecnologia">
          Para el almacenamiento y la gestión de datos, confiamos en SQL Server. Esta base de datos robusta nos proporciona un entorno seguro y eficiente para almacenar y recuperar datos importantes, lo que garantiza que nuestra aplicación esté respaldada por información confiable y actualizada.
        </p>

      </div>
    </div>
    
    <app-footer></app-footer>




    <!--       <div class="container integrantes">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
  
          </div>
  
                 <div class="col">
            <div class="card shadow-lg p-3 mb-5 rounded border border-3">
              <img src="../../../../assets/img/nico.jpg" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <div class="tarjeta__informacion">
                  <p class="informacion__nombre">Cervera Nicolas</p>
                  <p class="informacion__rol">Software Dev</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-lg p-3 mb-5 rounded border border-3">
              <img src="../../../../assets/img/javi.jpg" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <div class="tarjeta__informacion">
                  <p class="informacion__nombre">Ferri Javier</p>
                  <p class="informacion__rol">Software Dev</p>
  
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div> -->


    <!--  <div class="container-fluid tecnologias shadow-lg p-3 mb-5 rounded border border-3 ">

      <div class="container-fluid tecnologias__informacion borde">
        <h2>Tecnologías</h2>
        <div class="tecnologias__subtitulos">
          <p>Tecnologias utilizadas para el desarrollo de la aplicación</p>
        </div>


      </div>

      <div class="row">

        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/html.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/css.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/bootstrap.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/angular.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2  ">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/git.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/sql.png" alt="">
        </div>


      </div>

    </div> -->







  </main>









</body>