:host {
  --colorPrincipal: #e6621f;
  --colorComplementario: #EDEDEE;
  --colorSegmentario: #898989;
  --colorOscuro: #333333;
  --colorFondoCuadros: rgb(224, 224, 224);
  --colorFondoEstructura: #f8f9fa;
  --colorTexto: #535353;

 
  --fondoNosotros: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23F8F9FA' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cuse fill='%23f6f6f7' href='%23s' y='2'/%3E%3Cuse fill='%23f6f6f7' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f3f4f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f3f4f5' href='%23s'/%3E%3Cuse fill='%23f0f1f2' href='%23s' x='2'/%3E%3Cuse fill='%23f0f1f2' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cg fill='%23eeeff0'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cg fill='%23eeeff0'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cg fill='%23ebeced'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cg fill='%23F8F9FA'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e9eaeb'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(16.85) translate(-940.65 -705.49)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");

}


html {
  font-size: 62.5%;
  box-sizing: border-box;

}

/* ---------------------- NavBar ------------------- */
.contenedor__imagenlogin {
  width: 10rem;
}

.imagen__login {
  height: 20px;
  width: 100px;
  padding-left: 1rem;
}

/* fondo del navbar */
.navbar {
  background-color: #303030 !important;
  color: #e9e9e9 !important;
  box-shadow: 0px 16px 84px -9px rgba(0, 0, 0, 0.91);
  -webkit-box-shadow: 0px 16px 84px -9px rgba(0, 0, 0, 0.91);
  -moz-box-shadow: 0px 16px 84px -9px rgba(0, 0, 0, 0.91);

}

/*  Fin del NavBar */



/* -------- Etiquetas ------ */
body {
  background-color: var(--colorFondoEstructura);
  height: auto; /* Cambiado a 100vh para que ocupe toda la altura de la pantalla */

  background-image: var(--fondoNosotros);
  background-size: cover;
  

}

h1,
h2 {
  padding-top: 2rem;
}

h1 {
  font-size: 30px;
  transition-duration: 0.4s;
}

h2 {
  font-size: 24px;
  transition-duration: 0.4s;
  color: var(--colorPrincipal);
}


@media (max-width: 576px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 22px;
  }

  .nosotros__informacion {
    font-size: 12px;
  }

}


.borde {
  border-bottom: 2px solid rgba(35, 35, 35, 0.311);
}

/*  Scroll snap */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header__imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*  ------------------- Nosotros -------------------  */
.contenedor__titulo {
  text-align: center;
  margin: 3rem auto 0 auto;
  transition-duration: 0.4s;
}

.titulo__nosotros {
  color: var(--colorPrincipal);
}

.nosotros__informacion {
  text-align: justify;
  font-size: 16px;
  transition-duration: 0.4s;
  color: var(--colorTexto);
}




/* Tarjeta Integrantes */

.container__tarjeta {
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
}

.titulo__integrante {
  display: flex;
  justify-content: center;
}

.tarjeta__integrante {
  height: auto;
  width: 250px;
}

.img_foto {
  width: 100%;
  height: 250px;

}

.cuerpo__tarjeta {
  padding: 0px;
}

.informacion__nombre {
  font-size: 28px;
  color: var(--colorPrincipal);
}

.informacion__rol {
  font-size: 20px;
  color: var(--colorSegmentario)
}

.informacion__nombre,
.informacion__rol {
  /* font-family: var(--fuentePrincipal); */
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 1200px) {

  .img_foto {
    transition: all 0.2s ease;
  }

  .informacion__nombre {
    font-size: 20px;
  }

  .informacion__rol {
    font-size: 18px;
  }

}

/* Tecnologias */

/* .tecnologias {
  background-color: var(--colorFondoCuadros);
} */

.container__tecnologia {
  transition-duration: 0.4s;
  margin-bottom: 2rem;
}

.titulo__tecnologia {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.titulo__tecnologia h2 {
  padding: 0;
}

.flex_derecha {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.4s;

}

.flex_izquierda {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition-duration: 0.4s;
}

@media screen and (max-width: 576px) {
 .flex_derecha{
  flex-direction: column; 
 } 
 .flex_izquierda{
  flex-direction: column-reverse;  
 }
 .img__tecnologia {
  
  width: 30%;

 }
}

.informacion__tecnologia {
  color: var(--colorTexto);
  text-align: justify;
  padding: 0px 10px 0px 10px;
  transition-duration: 0.4s;
}


