<div class="container-fluid shadow-lg p-3 rounded border border-2 contenedorPrincipal">

    <div class="row animate__animated animate__fadeIn">
        <div class="col-12">
            <h1  class="titulo__reclamo" *ngIf="banderaEdicionReclamo==false">Nuevo Reclamo</h1>
            <h1  class="titulo__reclamo" *ngIf="banderaEdicionReclamo==true"> Actualizar Reclamo</h1>
        </div>
    </div>
    
    

    <!-- Tabla para reclamos ambientales -->
    <div class="  animate__animated animate__fadeIn" *ngFor="let item of arregloDetalleReclamo">

        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <!-- <th class="column1">Altura</th> -->
                                <th class="column1">Descripción</th>
                                <!-- ngIf="item.dominio !== '-' && item.nombreMarca !== ' ' && item.nombreModelo !== ' '" -->
                                <th class="column2">Dirección</th>
                                <th class="column3" *ngIf="item.dominio !== '-' ">Dominio</th>
                                <th class="column4">Fecha</th>
                                <th class="column5">Foto</th>
                                <th class="column6">Hora</th>

                                <th class="column7">Motivo</th>
                                <!--  <th class="column9">Marca</th>
                                <th class="column10" >Modelo</th> -->
                                <th class="column8">Tipo Reclamo </th>
                                <th class="column9">Estado </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <td class="column1">{{item.altura}} </td> -->
                                <td class="column1">{{item.descripcion}}</td>
                                <td class="column2">{{item.direccion}}</td>
                                <td class="column3" *ngIf="item.dominio !== '-' ">{{item.dominio}}</td>
                                <td class="column4">{{item.fecha | date:'dd-MM-yyyy'}} </td>
                                <td class="column5"><img class="rounded-3" src="{{item.foto}}" alt="Foto"
                                        style="width: 150px; height: 100px;"></td>
                                <td class="column6">{{item.hora}}</td>

                                <td class="column7">{{item.nombreRecAmbiental}}</td>
                                <!-- <td class="column9" >{{item.nombreMarca}}</td>
                                <td class="column10">{{item.nombreModelo}}</td> -->
                                <td class="column8">{{item.nombreTRec}}</td>
                                <td class="column9">{{item.estadoR}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--.container-table100 -->
    </div>



    <div class="row ">
        <div class="well well-sm">
            <form  class="form-horizontal" method="post">
                <fieldset>
                    <div class="row" style="margin: 0 auto">
                        <div class="col-12 col-md-12 col-lg-5 animate__animated animate__fadeIn">

                            <!-- Tipo Reclamo -->

                            <div class="input-group flex-nowrap input_reclamo" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Tipo De Reclamo">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-list-task icono__input"></i></span>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    [formControl]="tipoReclamoCtrl" (change)="dataChangedTipoReclamo($event)">
                                    <option value="" disabled> --- Tipo de Reclamo no selecionado --- </option>
                                    <option value="{{item.idTipoReclamo}}" style="color: black;"
                                        *ngFor="let item of Tiporecla">

                                        {{item.nombre}}

                                    </option>

                                </select>


                            </div>


                            <!-- Reclamo Ambiental -->


                            <div class="input-group flex-nowrap input_reclamo" id="ReclamoAmbiental"
                                *ngIf="selectIdTipoReclamo==1" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Causas Ambientales">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-droplet-half icono__input"></i></span>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    [formControl]="reclamoAmbientalCtrl" (change)="obtenerID($event)">
                                    <option value="" disabled>--- Causas Ambientales no seleccionado ---</option>
                                    <option id="dato" value="{{item.idReclamoAmbiental}}" style="color: black;"
                                        *ngFor="let item of ReclamoAmbie">{{item.nombreRecAmbiental}}

                                    </option>

                                </select>

                            </div>

                            <!-- Marca Auto -->

                            <div class="input-group flex-nowrap input_reclamo" id="ReclamoVial"
                                *ngIf="selectIdTipoReclamo==2" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Marca de Auto">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-car-front-fill icono__input"></i></span>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    [formControl]="marcaAutoCtrl" (change)="dataChangedIdMarcaVehiculo($event)">
                                    <option value="" disabled> --- Marca de Auto no seleccionado --- </option>
                                    <option value="{{item.idMarca}}" style="color: black;" *ngFor="let item of Mar">
                                        {{item.marcaVehiculo}}
                                    </option>
                                </select>
                            </div>

                            <!-- Modelo auto -->


                            <div class="input-group flex-nowrap input_reclamo" id="ReclamoVial"
                                *ngIf="selectIdTipoReclamo==2" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Modelo de Auto">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-list-ol icono__input"></i></span>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    [formControl]="modeloAutoCtrl" (change)="obtenerIDModeloVehiculo($event)">
                                    <option value="" disabled>Modelo de Vehículo no selecionado </option>
                                    <option value="{{item.idModelo}}" style="color: black;" *ngFor="let item of Mod ">
                                        {{item.modeloVehiculo}}
                                    </option>
                                </select>
                            </div>


                            <!-- Dominio Auto -->


                            <div class="input-group flex-nowrap input_reclamo" id="ReclamoVial"
                                *ngIf="selectIdTipoReclamo==2" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Dominio de Auto">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-123 icono__input"></i></span>

                                <input id="dominio" name="" type="text" placeholder="Patente" class="form-control "
                                    [formControl]="dominioCtrl">

                            </div>

                            <div class="input-group flex-nowrap input_reclamo" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Color del Auto" *ngIf="selectIdTipoReclamo==2">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-palette icono__input"></i></span>
                                <input name="text" type="text" placeholder="Color" class="form-control "
                                    [formControl]="colorAutoCtrl">

                            </div>

                            <!-- Fecha -->

                           <!--  <div class="input-group flex-nowrap input_reclamo" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Fecha">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-calendar3 icono__input"></i></span>
                                <input id="" name="name" type="date"  placeholder="Fecha" class="form-control "
                                    [formControl]="fechaCtrl">
                            </div> -->

                            <!-- Hora -->

                           <!--  <div class="input-group flex-nowrap input_reclamo" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Hora">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-clock-history icono__input"></i></span>
                                <input id="Hora" name="tiempo" type="time" placeholder={{time}} class="form-control "
                                    [formControl]="horaCtrl" (click)='obtenerHoraActual()'>

                            </div> -->


                            <!-- Ubicacion - Calee -->

                            <div class="input-group flex-nowrap input_reclamo" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Calle">

                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-geo-alt icono__input"></i></span>
                                <input id="Ubicacion" name="phone" type="text" placeholder="Calle y Altura"
                                    class="form-control " [formControl]="ubicacionCtrl" #txtQuery
                                    (keyup)="onQueryChanged(txtQuery.value)">

                            </div>

                            <!-- <Altura direccion reclamo> -->


                            <!-- <div class="input-group flex-nowrap input_reclamo" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Tipo De Reclamo">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="bi bi-sort-numeric-up-alt icono__input"></i></span>
                                <input id="Altura" name="phone" type="number" placeholder="Altura de la calle"
                                    class="form-control " [formControl]="alturaCtrl">
                            </div> -->


                        </div>


                        <!-- columna que divide en 2 partes -->
                        <div class="col-12 col-md-12 col-lg-7 animate__animated animate__fadeIn">

                            <!-- Foto -->
                            <div class="col-md-12">

                                <div class=" input_reclamo">



                                    <div class="form-group input_reclamo">

                                        <div class="col-md-12 text-center p-0">
                                            <textarea class="form-control DescripcionReclamo" name="message"
                                                placeholder="Describa la causa del reclamo" rows="4"
                                                [formControl]="descripcionCtrl"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="input_reclamo">
                                    <div class="row">
                                        <!-- subir archivos -->
                                        <div class="co-12 col-sm-12 ">
                                            <div class="input-group">
                                                <input type="file" class="form-control" id="inputGroupFile02"
                                                    (change)="onFileSelected($event)" accept="image/*"
                                                    [formControl]="FotoCtrl">
                                                <!--  -->
                                                <label class="input-group-text" for="inputGroupFile02"><i
                                                        class="bi bi-image"></i></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <!-- Estados Reclamos -->
                                <div class="form-group"
                                    *ngIf="banderaEdicionReclamo==true && (this.usuario.idRol==1 || this.usuario.idRol==2)">
                                    <h5 class="text-center">Estados del reclamo</h5>
                                    <div class="form-check form-check-inline" *ngFor="let item of Tiporecla">
                                        <input class="form-check-input" (change)="dataChangedEstadoReclamo($event)"
                                            type="radio" name="EstadosRec" [id]="item.idTipoReclamo"
                                            [value]="item.idTipoReclamo" > <!-- [disabled]="this.arregloDetalleReclamo[0]?.nombreTRec != item.nombre" -->
                                        <label class="form-check-label" for="inlineRadio1">{{item.nombre}}</label>
                                    </div>

                                    <div class=" text-center ">
                                        <select class="" name="example" [formControl]="estadoReclamoCtrl"
                                            style="width: 100%;">
                                            <option value="" disabled> --- Tipo de Estado no selecionado ---</option>
                                            <option value="{{item.idEstado}}" name="Esta"
                                                *ngFor="let item of objetEstadoReclamo">
                                                {{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- .descripcion -->

                        <!-- Mapa -->
                        <div class="form-group input_reclamo shadow-lg p-3 rounded border border-2 animate__animated animate__fadeIn ">
                            <div *ngIf="banderaVerMapa!='editar'" class="col-12  ">
                                <app-map-screen-reclamo></app-map-screen-reclamo>
                            </div>
                            <div *ngIf="banderaVerMapa=='editar'" class="col-12  ">
                                <div #mapDiv class="map-container rounded">
                                    <app-busqueda-lugares-reclamo></app-busqueda-lugares-reclamo>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Descripcion del reclamo a editar / solo aparece cuando vamos del historial hacia el reclamo -->


                    <div class="row">



                        <div class=" col-12 col-sm-4 animate__animated  animate__fadeIn" *ngIf="banderaEdicionReclamo==false">
                            <!--text-center d-inline-block col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 botones -->

                            <button type="button" class="btn btn-success botones "
                                  
                                (click)="registrarReclamo()" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Enviar Reclamo"> <!--  || alturaCtrl.invalid || horaCtrl.invalid-->
                                <i class="far fa-check-circle fa-lg"></i>Enviar

                            </button> <!-- || fechaCtrl.invalid --> 
                        </div> <!-- [disabled]="( (tipoReclamoCtrl.invalid && (reclamoAmbientalCtrl.invalid && marcaAutoCtrl.invalid && dominioCtrl.invalid))   || ubicacionCtrl.invalid ||  descripcionCtrl.invalid)" -->


                        <div class="col-12 col-sm-4 animate__animated animate__fadeIn"
                            *ngIf="banderaEdicionReclamo==true"><!-- true -->

                            <button type="button" class="btn btn-outline-success botones" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Actualizar Reclamo"
                                (click)="MetodoActualizarReclamo()"><i
                                    class="fas fa-sync-alt fa-lg"></i>Actualizar</button>
                        </div>

                        <div class=" col-12 col-sm-4">

                        </div>
                        <div class=" col-12 col-sm-4 animate__animated animate__fadeIn">
                            <button type="button" class="btn btn-outline-danger botones" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Cancelar Reclamo" (click)="limpiarPantalla()"><i
                                    class="fas fa-times fa-lg"></i>
                                Cancelar</button>
                        </div>


                        <!-- <div class=" col-12 col-sm-4 animate__animated animate__fadeIn">
                            <button type="button" class="btn btn-outline-primary botones" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Regresar al Historial" (click)='regresarHistorial()'><i
                                    class="fas fa-undo"></i> Mi
                                Historial</button>
                        </div> -->


                    </div>



                </fieldset>



            </form>
        </div>

    </div>
</div>